/* Make body a flex column */
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f0f4f8;
  font-family: Arial, sans-serif;
  color: #333;
}

/* Make main a flex row */
main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

/* Make article take 2/3 of space */
article {
  flex: 2;
  overflow-y: auto;
   border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  background-color: #fff;
}

/* Make aside take 1/3 of space */
aside {
  flex: 1;
  overflow-y: auto;
}

